<div class="meal-form">
	<form [formGroup]="form">

		<div class="meal-form__name">

			<label>
				<h3>Meal name</h3>
				<input type="text" placeholder="e.g. Müsli" formControlName="name">
			</label>

		</div>

		<div class="meal-form__food">
			<div class="meal-form__subtitle">
				<h3>Food</h3>
				<button type="button" class="meal-form__add" (click)="addIngredient()">
					<img src="/img/add-white.svg"> Add Food
				</button>
			</div>

			<div formArrayName="ingredients">
				<label *ngFor="let c of ingredients.controls; index as i">
					<input [formControlName]="i" placeholder="e.g Eggs">
					<span (click)="removeIngredient(i)" class="meal-form__remove">
					</span>
				</label>
			</div>

		</div>

		<div class="meal-form__submit">
			<div>
				<button class="button" (click)="createMeal()" type="button">
					Create a meal
				</button>
				<a class="button button--cancel" [routerLink]="['../']">
					Cancel
				</a>

			</div>
		</div>

	</form>
</div>