<div class="meal">
	<div class="meal__title">
		<h1>
			<img src="/img/food.svg">
			<span *ngIf="meal$ | async as meal; else title;">
				{{ meal.message?.name ? 'Edit' : 'Create' }} meal
			</span>
			<ng-template #title>
				Loading...
			</ng-template>
		</h1>
	</div>

	<div *ngIf="meal$ | async as meal; else loading">
		<meal-form
		(create)="addnewMeal($event)"
		(update)="updateMeal($event)"
		(remove)="removeMeal($event)"
		[meal]="meal">

		</meal-form>
	</div>

	<ng-template #loading>
		<div class="message">
			<img src="/img/loading.svg">Fetching...
		</div>
	</ng-template>
</div>